<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Philly Guide | Error</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2AB0C6">
    <meta name="theme-color" content="#FFFFFF">

    <meta property="og:title" content="Philly Guide | Error">
    <meta property="og:description" content="An interactive guide to Philadelphia neighborhoods featuring crime, education, and walk score datasets.">
    <meta property="og:image" content="https://philly-guide.herokuapp.com/og.png">

    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="error">
      <h1>This isn't a page!</h1>
      <h3>Redirecting you back to safety.</h3>
    </div>

    <script type="text/javascript">
      document.location = './';
    </script>
  </body>
</html>
