<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2AB0C6">
  <meta name="theme-color" content="#FFFFFF">

  <meta property="og:title" content="Philly Guide">
  <meta property="og:description" content="An interactive guide to Philadelphia neighborhoods featuring crime, education, and walk score datasets.">
  <meta property="og:url" content="https://philly-guide.herokuapp.com/">
  <meta property="og:image" content="https://philly-guide.herokuapp.com/og.png">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.js"></script>
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <a href="./"><img src="logo.svg" alt="logo" class="logo"></a>
      <h1><%= title %></h1>
      <p class="credit">Built by Andrea Baric, Regina Burd, Alex Graves, and Mane Williams</p>

      <h2>Search by neighborhoods</h2>

      <form method="GET" id="t1" name="table1" action="/education">
        <select id="order_school" name="metric">
          <option value="desc">Best</option>
          <option value="asc">Worst</option>
        </select>
        <input name="education_num" id="rows_school" type="text" size=3 value="10">
        for
        <select id="selected_school" name="educ_type">
          <option value="graduation_rate">graduation rate</option>
          <option value="keystone_proficiency_rate">Keystone Test proficiency rate</option>
          <option value="most_positive_student_college_readiness_rating">student college readiness rating</option>
        </select>
        <input class="button" id="bt_school" value="SEARCH SCHOOLS" type="submit">
      </form>

      <form method="GET" name="table2" action="/crime">
        <input name ="num_rows" id="rows_crime" type="text" size=3 value="10"> with the
        <select name="ordering" id="order_crime">
           <option value="DESC">most</option>
           <option value="ASC">fewest</option>
        </select>
        incidents of
        <select id="selected_crime" name="crime_type">
          <option value="%">All Crimes</option>
          <option value="Aggravated Assault Firearm">Aggravated Assault (Firearm)</option>
          <option value="Aggravated Assault No Firearm">Aggravated Assault (No Firearm)</option>
          <option value="All Other Offenses">All Other Offenses</option>
          <option value="Arson">Arson</option>
          <option value="Burglary Non-Residential">Burglary (Non-Residential)</option>
          <option value="Burglary Residential">Burglary (Residential)</option>
          <option value="Disorderly Conduct">Disorderly Conduct</option>
          <option value="DRIVING UNDER THE INFLUENCE">Driving Under the Influence</option>
          <option value="Embezzlement">Embezzlement</option>
          <option value="Forgery and Counterfeiting">Forgery and Counterfeiting</option>
          <option value="Gambling Violations">Gambling Violations</option>
          <option value="Homicide - Criminal">Homicide (Criminal)</option>
          <option value="Homicide - Gross Negligence">Homicide (Gross Negligence)</option>
          <option value="Homicide - Justifiable">Homicide (Justifiable)</option>
          <option value="Liquor Law Violations">Liquor Law Violations</option>
          <option value="Motor Vehicle Theft">Motor Vehicle Theft</option>
          <option value="Narcotic / Drug Law Violations">Narcotic/Drug Law Violations</option>
          <option value="Offenses Against Family and Children">Offenses Against Family and Children</option>
          <option value="Other Assaults">Other Assaults</option>
          <option value="Other Sex Offenses (Not Commercialized)">Other Sex Offenses (Not Commercialized)</option>
          <option value="Prostitution and Commercialized Vice">Prostitution and Commercialized Vice</option>
          <option value="Public Drunkenness">Public Drunkenness</option>
          <option value="Rape">Rape</option>
          <option value="Receiving Stolen Property">Receiving Stolen Property</option>
          <option value="Recovered Stolen Motor Vehicle">Recovered Stolen Motor Vehicle</option>
          <option value="Robbery Firearm">Robbery (Firearm)</option>
          <option value="Robbery No Firearm">Robbery (No Firearm)</option>
          <option value="Theft from Vehicle">Theft from Vehicle</option>
          <option value="Thefts">Thefts</option>
          <option value="Vagrancy/Loitering">Vagrancy/Loitering</option>
          <option value="Vandalism/Criminal Mischief">Vandalism/Criminal Mischief</option>
          <option value="Weapon Violations">Weapon Violations</option>
        </select>
        <input class="button" id="bt_crime" value="SEARCH CRIME" type="submit">
      </form>

    <form method="GET" id="t3" action="/walkscore">
      Top
      <input name="walkscore" id="num_neighborhoods" type="text" size=3 value="10"> with walkscore from
      <input name="w_min" id="from" type="text" size=3 value="0"> to <input name ="w_max" id="to" type="text" size=3 value="100">
      <input class="button" id="bt_walk" type="submit" value="SEARCH WALKSCORE">
    </form>

    <a href="./all-data"><h2>See all data</h2></a>
  </div>

  <div class="map">
    <div id="map"></div>
  </div>
</div>

<script type="text/javascript">
  mapboxgl.accessToken = 'pk.eyJ1IjoiYWdyYXZlcyIsImEiOiJjaXR0ajNxb3kwMDJjMnRudnZiNXM4a2dyIn0.Mn-5UfKLdqtewXmk9P4gyA';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/agraves/cj9dbpixh61632rn29p4lyqov',
    center: [-75.131117, 39.999890],
    zoom: 10.7,
    minZoom: 10
  });

  // if mobile, change zoom
  if ($(window).width() < 480) {
    map.setZoom(9.4);
    map.setMinZoom(9);
  }

  // populate map
  map.on('load', function() {
    map.addSource('data', {
      type: 'geojson',
      data: '../js/neighborhoods.geojson'
    });

    map.addLayer({
      "id": "neighborhoods",
      "type": "fill",
      "source": "data",
      "paint": {
        "fill-color": "#0F3F46",
        "fill-opacity": 0.5
      }
    });
    // add lines to define the boundaries
    map.addLayer({
      "id": "neighborhood-lines",
      "type": "line",
      "source": "data",
      "paint": {
        "line-color": "#0F3F46",
        "line-width": 1.5
      }
    });
  });

  // get all crimes data form
  $(function() {
    $('#bt_crime').on("touchstart click", function(event) {
      var crime = $('#selected_crime').find(":selected").val();
      var rows = $('#rows_crime').val();
      var ord = $('#order_crime').find(":selected").val();

      $.get('/crime?num_rows=' + rows + '&ordering=' + ord + '&crime_type=' + crime, function(res) {
        // get ids of neighborhoods to include
        ids = []
        for (var i in res) {
          ids.push(res[i].id - 1);
        }

        // get neighborhoods geoJSON and filter by results
        $.getJSON('/js/neighborhoods.geojson').done(function(json) {
          features = [];
          for (var i in json.features) {
            i = parseInt(i);
            if (ids.includes(i)) {
              features.push(json.features[i]);
            }
          }

          // update features on map
          json.features = features;
          map.getSource('data').setData(json);
        });
      });
      return false;
    });
  });

  // get all school data form
  $(function() {
    $('#bt_school').on("touchstart click", function(event) {
      var school = $('#selected_school').find(":selected").val();
      var rows = $('#rows_school').val();
      var ord = $('#order_school').find(":selected").val();
      $.get('/education?metric=' + ord + '&education_num=' + rows + '&educ_type=' + school, function(res) {
        // get ids of neighborhoods to include
        ids = []
        for (var i in res) {
          ids.push(res[i].id - 1);
        }

        // get neighborhoods geoJSON and filter by results
        $.getJSON('/js/neighborhoods.geojson').done(function(json) {
          features = [];
          for (var i in json.features) {
            i = parseInt(i);
            if (ids.includes(i)) {
              features.push(json.features[i]);
            }
          }

          // update features on map
          json.features = features;
          map.getSource('data').setData(json);
        });
      });
      return false;
    });
  });

  // get all walkscore data form
  $(function() {
    $('#bt_walk').on("touchstart click", function(event) {
      var neighborhoods = $('#num_neighborhoods').val();
      var from = $('#from').val();
      var to = $('#to').val();
      $.get('/walkscore?walkscore=' + neighborhoods + '&w_min=' + from + '&w_max=' + to, function(res) {
        // get ids of neighborhoods to include
        ids = []
        for (var i in res) {
          ids.push(res[i]._id - 1);
        }

        // get neighborhoods geoJSON and filter by results
        $.getJSON('/js/neighborhoods.geojson').done(function(json) {
          features = [];
          for (var i in json.features) {
            i = parseInt(i);
            if (ids.includes(i)) {
              features.push(json.features[i]);
            }
          }

          // update features on map
          json.features = features;
          map.getSource('data').setData(json);
        });
      });
      return false;
    });
  });
</script>
</body>
</html>
