extends layout

block content
  .header
    img.logo(src='logo.svg' alt='logo')
    .title-credit
      h1= title
      p.credit Built by Andrea Baric, Regina Burd, Alex Graves, and Mane Williams
  .data
    p Data coming soon!
