body {
  margin: 0;
  padding: 0;
  font: 1rem "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #CEE5EA;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

h2 {
  font-size: 1.3em;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

a {
  color: #2AB0C6;
}

form {
  margin-bottom: 20px;
}

form:last-of-type {
  margin-bottom: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.logo {
  width: 100%;
  margin-bottom: 10px;
}

.credit {
  font-style: italic;
  margin-bottom: 0;
}

.map {
  width: 80%;
  height: 100vh;
}

.button {
  display: block;
  margin-top: 5px;
  padding: 5px;
  min-width: 50%;
  background-color: #2AB0C6;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#map {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1250px) {
  h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.9em;
  }

  .container {
    flex-direction: column;
  }

  .sidebar {
    width: calc(100% - 40px);
    min-height: calc(100vh - 40px);
  }

  .map {
    width: 100%;
    height: 50vh;
  }
}
