body {
  margin: 0;
  padding: 0;
  font: 1rem "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #CEE5EA;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

h2 {
  font-size: 1.3em;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

a {
  color: #2AB0C6;
  text-decoration: none;
}

form {
  margin-bottom: 20px;
}

form:last-of-type {
  margin-bottom: 0;
}

#map {
  width: 100%;
  height: 100%;
}

#results p:first-of-type {
  margin-top: 0;
  font-weight: bold;
}

#results p:last-of-type {
  margin-bottom: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.logo {
  width: 100%;
  margin-bottom: 10px;
}

.credit {
  font-style: italic;
  margin-bottom: 0;
}

.button {
  display: block;
  margin-top: 5px;
  padding: 5px;
  min-width: 50%;
  background-color: #2AB0C6;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
}

.button:disabled {
  background-color: #89D6E3;
  cursor: not-allowed;
}

.map {
  width: 80%;
  height: 100vh;
}

.list {
  padding: 20px;
  width: calc(80% - 40px);
  overflow-y: scroll;
}

.timeline {
  text-align: center;
}

.error {
  width: 100%;
  text-align: center;
  margin: 100px auto;
}

@media screen and (max-width: 1250px) {
  h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 480px) {
  body {
    text-align: center;
  }

  h1 {
    font-size: 2.9em;
  }

  .container {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    width: calc(100% - 40px);
  }

  .button {
    margin: auto;
    margin-top: 5px;
  }

  .map {
    text-align: left;
    width: 100%;
    height: 50vh;
  }

  .list {
    text-align: left;
    width: calc(100% - 40px);
    height: auto;
    padding-top: 0;
  }
}
